/* @font-face {
    font-family: 'MyFont';
    src: url('./my-font.woff2') format('woff2'), url('./my-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
} */

body {
    max-width: 100vw;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

h1 {
    font-size: x-large;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menuitem img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.menuitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid burlywood;
    border-right: 2px solid burlywood;
    border-bottom-right-radius: 25%;
    width: 50vw;
}

#map {
    width: 500px;
    height: 500px;
}


/* 
.swiper-slide {
    max-height: 50%;
    max-width: 50%;
    align-content: center;
} */

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-wrapper {
    max-width: 50vw;
}

.about-wrapper {
    max-width: 50vw;
}

.picdiv {
    display: flex;
}

.picdiv img {
    min-width: 200px;
    margin: 10px;
}

.footer {
    text-align: center;
    background: blue;
}

.about-wrapper {
    text-align: center;
}